<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <node pkg="amr_localization" name="amr_wheel_odometry_node" type="amr_wheel_odometry_node"></node>

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
        <rosparam command="load" file="${find amr_localization}/param/amr_ekf_params.yaml"></rosparam>
        <remap from="odometry/filtered" to=""></remap>
        <remap from="accel/filtered" to=""></remap>
    </node>
</launch>